.btn {
    min-height: var(--tap-size);
    padding: 0 16px;

    border-radius: var(--radius);
    font-weight: 600;
    border: none;

    cursor: pointer;
    transition: 0.15s;
}

.btn:active {
    transform: scale(0.97);
}

/* primary */
.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

/* active */
.btn-active {
    background: var(--color-active);
    color: white;
}

.btn-active:hover {
    background: var(--color-active-hover);
}

/* danger */
.btn-danger {
    background: var(--color-danger);
    color: white;
}

.btn-danger:hover {
    background: var(--color-danger-hover);
    color: white;
}

/* ghost */
.btn-ghost {
    background: var(--color-ghost);
    color: black;
}

.btn-ghost:hover {
    background: var(--color-ghost-hover);
    color: black;
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
